<?xml version="1.0"?>
<config>
    <modules>
        <Devinc_Gdresponsive>
            <version>1.0.0</version>
        </Devinc_Gdresponsive>
    </modules>
    <frontend>
        <layout>
            <updates>
                <gdresponsive>
                    <file>gdresponsive.xml</file>
                </gdresponsive>
            </updates>
        </layout>
    </frontend>
    <global>	     
        <models>
			<groupdeals>
				<rewrite>
					<coupons>Devinc_Gdresponsive_Model_Coupons</coupons>
				</rewrite>
			</groupdeals>
        </models>      
        <helpers>
            <gdresponsive>
                <class>Devinc_Gdresponsive_Helper</class>
            </gdresponsive>
        </helpers>
    </global>
</config>